@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Be+Vietnam+Pro&family=Zen+Dots&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baskervville", serif;
  font-weight: 400;
}

html, body {
  font-size: 16px;
}

.container {
  width: 75%;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .container {
    width: 80%;
  }
}

.logo {
  font-family: "Baskervville", serif;
  color: #F9673E;
  font-size: 1.8rem;
}

p {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 100;
  line-height: 170%;
  color: #11332E;
}

b {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
}

.underline {
  text-decoration: underline;
  font-family: "Be Vietnam Pro", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-block: 2.5rem;
}
@media (max-width: 600px) {
  nav {
    display: none;
  }
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin-right: 3.5rem;
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  nav ul li {
    margin-right: 2rem;
  }
}
nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.25rem;
}
nav ul svg {
  height: 56px;
  width: 120px;
  margin-left: -50%;
}
nav ul .dropdown {
  position: relative;
}
nav ul .dropdown span {
  font-size: 1.25rem;
}
nav ul .dropdown span:hover {
  cursor: pointer;
}
nav ul .dropdown:hover .dropdown-content {
  display: block;
}
nav ul .dropdown .dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 400%;
  background-color: white;
  padding: 2rem;
  padding-top: 0rem;
  margin-left: -2rem;
}
nav ul .dropdown .dropdown-content li {
  margin-top: 1.5rem;
}
nav ul .dropdown .dropdown-content li a:hover {
  color: #F9673E;
}
nav ul .dropdown .dropdown-content li:nth-child(1) {
  margin-top: 2rem;
}

.active a {
  color: #F9673E;
}

.active {
  color: #F9673E;
}

.mobile-nav {
  display: none;
  padding-block: 1.25rem;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .mobile-nav {
    display: flex;
  }
}
.mobile-nav .logo {
  display: block;
}
.mobile-nav .menu {
  float: right;
}

.sidebar {
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: white;
  position: fixed;
  overflow-y: scroll;
}
.sidebar .close {
  position: fixed;
  right: 5%;
  top: 2.5%;
  z-index: 10;
}
.sidebar .main-menu {
  list-style: none;
  height: 100%;
  /*display: flex;
  flex-direction: column;
  justify-content: center;*/
}
.sidebar .main-menu li {
  margin-left: 2rem;
  padding-block: 1.5rem;
}
.sidebar .main-menu li a, .sidebar .main-menu li span {
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
}
.sidebar .main-menu li .active {
  color: #F9673E;
}
.sidebar .main-menu li .dropdown {
  z-index: 100;
  background-color: white;
  border: 2px red solid;
}
.sidebar .main-menu li .dropdown .flexbox a {
  margin-left: 4rem !important;
  color: red !important;
}
.sidebar .main-menu li .dropdown-content {
  display: block;
  background-color: white;
  z-index: 1000;
  list-style: none;
  opacity: 0.75;
}
.sidebar .main-menu li .dropdown-content li {
  margin-top: 1.6rem;
  padding-block: 0;
}

header {
  height: 40vh;
  color: #F9673E;
  font-size: 1.5rem;
  padding-block: 6rem;
}
@media (max-width: 600px) {
  header {
    font-size: 1.5rem;
    padding-block: 3rem;
    height: 30vh;
  }
  header h1 {
    margin-top: 2rem;
  }
}

footer {
  padding-block: 2rem;
  font-size: 1.25rem;
  margin-top: 10rem;
}
footer p {
  color: #F9673E;
}

nav span {
  font-family: "Baskervville", serif !important;
  font-weight: 400;
}

.active {
  color: #F9673E;
  font-family: "Baskervville", serif !important;
  font-weight: 400;
}

section {
  display: flex;
  padding-bottom: 8rem;
}
@media (max-width: 600px) {
  section {
    flex-direction: column;
  }
}

img {
  height: 50vh;
  margin-right: 8rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  img {
    margin-right: 4rem;
  }
}
@media (max-width: 600px) {
  img {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
}

.pc-info {
  flex-direction: column;
}
@media (max-width: 600px) {
  .pc-info {
    display: none;
  }
}

.mob-info {
  flex-direction: column;
  margin-top: 2rem;
  display: none;
}
@media (max-width: 600px) {
  .mob-info {
    display: block;
  }
}

.email, .whatsapp {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}
.email svg, .whatsapp svg {
  margin-right: 1rem;
}

.whatsapp {
  margin-bottom: 0;
}

.id, .number, span {
  font-family: "Be Vietnam Pro", sans-serif !important;
  color: #11332E;
}
@media (max-width: 600px) {
  .id, .number, span {
    font-size: 1.25rem;
  }
}

.alert {
  margin-left: 3rem;
  opacity: 0.5;
}
@media (max-width: 600px) {
  .alert {
    padding-bottom: 2rem;
  }
}

p {
  text-align: justify;
}
@media (max-width: 600px) {
  p {
    margin-top: 2rem;
    font-size: 1.125rem;
  }
}/*# sourceMappingURL=member.css.map */